body
{
    margin: 0px;
    padding: 0px;
    background-image: url(./images/bgImg\(banner\).jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    font-family: 'Source Sans 3', sans-serif;
    background-color: whitesmoke;
    
}
#navbar
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    color: white;
}
#navbar #left h1
{
margin: 0px;
font-size: 23px;

}
#navbar #right ul
{
    display: flex;
    align-items: center;
    gap: 20px;
    list-style-type: none;
    font-size: 22px;
    margin: 0px;

}
#navbar #right ul li button
{
    border-radius: 5px;
    COLOR: WHITE;
    BACKGROUND-COLOR: TRANSPARENT;
    BORDER: 2PX SOLID WHITE;
    width: 65px;
    height: 30px;
    font-size: 14px
}
#navbar #left h1 span

{
    font-weight: 100px ;
    
}
#body
{
    text-align: center;
    margin-top:88px ;
    color: white;
}
#body h1
{
    margin-top: 150px;
    font-size: 70px;
    margin-bottom: 0px;

}
#body p{
    margin-top: 10PX;
    font-size: 25px;
}
#body button
{
 background-color: white; 
color: grey;
border-radius: 5px;
width: 150px;
height: 47px;
border: none;
margin-right: 20px;
margin-bottom: 7%;
}
#body #l
{
    background-color: transparent;
     border: 2px solid white;
}
#icon
{
    background-color: white;
    width: 70%;
    margin: auto;
    margin-top: 10%;
    border-radius: 5px;
    color: #6a6a6a;
     margin-bottom: 5%; 

}
#icon div {
    display: inline-block;
    width: 45%;
    text-align: center;
    
}
.fa.fa-bolt{
    color: white;
    background-color:#e89980;
    border-radius: 100%;
    font-size: 35px;
    padding: 37px 49px;
    margin-top: 10px;
}
.fa.fa-area-chart
{
    color: white;
    background-color:#7fcdb8;
    border-radius: 100%;
    font-size: 35px;
    padding: 37px 37px;
    margin-top: 10px;
}
.fa.fa-cloud
{
    color: white;
    background-color:#90b0ba;
    border-radius: 100%;
    font-size: 35px;
    padding: 37px 37px;
    margin-top: 10px;

}
.fa.fa-lock{
    color: white;
    background-color:#e5cb95;
    border-radius: 100%;
    font-size: 35px;
    padding: 37px 49px;
    margin-top: 10px;


}
#icon div h1{
    font-size: 29px;
}
#icon div p
{
    font-size:  14px;;

}
#div1
{
    border-right: 2px solid #e5e5e5;
    border-bottom: 2px solid #e5e5e5;
    position: relative;
    top: 1px;
    left: 5px;

}

#div4
{
    border-left: 2px solid #e5e5e5;
    border-top: 2px solid #e5e5e5;
}
#cont
{
    padding-top: 20px;
    padding-bottom: 20px;
}
#signup {
    text-align: center;
    color: white;
    background-color: #e89980;
    margin-top: 90px; 
    font-size: 20PX;
    padding-bottom: 70px;
    padding-top: 40px;
    /* margin-bottom: 20%; */
}
#signup h1{
    font-family: 'Source Sans 3', sans-serif;
    font-weight: 100;
}
#eml
{
    height: 48px;
    width: 190px;
    border-radius: 7px;
    border: transparent;
    background: rgba(255, 255, 255, 0.15);
}
#eml::placeholder
{
    color: white;
    padding-left: 10px;
}
#btn
{
    margin-left: 20px;
    height: 48px;
    width: 100px;
    border-radius: 7px;
    border: transparent;
    background-color: white;
    color:#e89980;
}
#social
{
    margin: 20px 0px;
    
}
#social #logo{
    /* text-align: center ;  */
    /* color: transparent; */
     display: flex;
    justify-content: center; 
    gap: 0.9%;
    margin-top: 70px;
}
#social #logo i{
    font-size: 28px;
}
#social #logo #twitter{
    color:grey;
}
#social #logo #twitter:hover{
    color:rgb(54, 54, 54);
}
#social #logo #fb{
    color:grey;
}
#social #logo #fb:hover{
    color:rgb(54, 54, 54);
}
#social #logo #ig{
    color:grey;
}
#social #logo #ig:hover{
    color:rgb(54, 54, 54);
}
#social #logo #git{
    color:grey;
}
#social #logo #git:hover{
    color:rgb(54, 54, 54);
}
#social #logo #drip{
    color:grey;
}
#social #logo #drip:hover{
    color:rgb(54, 54, 54);
}
#social #logo #go{
    color:grey;
}
#social #logo #go:hover{
    color:rgb(54, 54, 54);
}
#ftxt
{
    /* text-align: c enter; */
    display: flex;
    justify-content: center;
    gap: 5%;
    margin-top: 25px;
    margin-bottom: 100px;
}
#intro
{
     background: #fff;
    border-radius: 5px;
    text-align: center;
    margin-right: 10%;
    margin-left: 10%;
    border-radius: 5px; 
    
    
}
#intro h1
{
    font-size: 40px;
    color: #646464;
    margin-top: 6%;
    font-weight: 400;
    padding-top: 7%;

}
#intro p{
    font-size: 25px;
   color:  #848280;
   margin-bottom: 10%;
    
}
#intro img{
    width: 100%;
}

#cards
{
    display: flex;
    justify-content: space-between;
    /* gap: 20px; */
    width: 70%;
    margin: auto;
    color: #6a6a6a;
    
    
}
#cards div
{
    width: 48%;
    background-color: white;
    text-align: center;
    border-radius: 5%;
    padding-bottom: 30px;

}
#cards div img{
    width: 100%;
    border-top-right-radius: 4%;
    border-top-left-radius: 4%;
}
#cards div h1{
    font-size: 30px;
    font-weight: 400;
}
#cards button
{
    width: 25%;
    height: 40px;

    background-color: transparent;
    color: #6a6a6a;
    border: 2px solid #e5e5e5;
    border-radius: 5px;
}









/* ------Mobile Version---------- */

/* @media (max-width: 600px) {

    body{
        background-size:190%;    
        background-position-x: center;
    }
    br{
        display: none;
    }
    #navbar{
        display:none;
    }
    #menu{
        display: inline-block;
        color:white;
        height:fit-content;
        width: fit-content;
        margin-left: 10px;
        margin-top: 10px;
        padding: 5px 12px;
        border: 1px solid transparent;
        border-radius: 5px;
        background-color:rgba(192, 192, 192, 0.75);
    }
    #body{
        margin:auto;
        margin-top: 0px;/*margin top should be after margin */
       /* width:80%;
          background-color: black;   */
  /*  }
    #body h1{
        margin-top:80px;
        font-size: 33px;
    }
    #body p{
        margin-top:20px ;
        margin-bottom: 30px;
    }
    #body button{   
        height: 42px;
        width: 100%;
        margin-bottom: 20px;
    }
    #intro{
        width: 100%;
        
        margin-top: 36px;
    }
    #intro h1{
        text-align: center;
        padding-top: 50px;
        
        font-size: 23px;
    }
    #intro p{
        width:90%;
        font-size: 20px;
    }
    #intro img{
        width: 100%;
    }
    #signup {
        margin-top: 800px; 
        font-size: 18PX;
        width: 100%;
        padding-bottom: 70px;
        padding-top: 40px;
    }
    #eml
{
    height: 48px;
    width: 100%;
    margin:0px 20px;
    margin-bottom: 20px;
}
#eml::placeholder
{
    color: white;
    padding-left: 10px;
}
    #btn
    {
    margin:0 20px;
    height: 48px;
    width: 100%;
    border-radius: 7px;
    border: transparent;
    background-color: white;
    color:#e89980;
    }

}

     */